h1 {
    color:black;
    font-size: 40px;
    text-align: center;
    font-family: broadway, Arial;
}

p {
    color: black;
    font-size: 20px;
    text-align: left;
    font-family:  algerian, Arial;
}
